<h1 class="welcome">Welcome to Rock, Paper, Scissors. <br> A timeless classic brought to life online.</h1>


<h2>Here are the rules:</h2>

<img src="https://upload.wikimedia.org/wikipedia/commons/6/67/Rock-paper-scissors.svg"
alt="Rock, Paper, Scissors Rules" width="350px" height="350px">
<!-- Image linking from wikipedia -->

<h2>How to play:</h2>

<p>Click the <a href="/play/rock/scissors">Play<a/> link. When you are on the page, look at the URL bar at the top.
    See what item will win by replacing "rock" and/or "scissors" then hit enter.</p>
